[user]
  email = david@ddean.dev
  name = David Dean
  signingkey = ~/.ssh/id_ed25519.pub
[init]
  defaultBranch = main
[gpg]
  format = ssh
[commit]
  gpgsign = true
[pull]
  rebase = true
[diff]
  algorithm = histogram
